---
import { getCollection } from "astro:content";
import { formatDate } from "../../date/date";
import Pages from "../../layouts/Pages.astro";
const posts = await getCollection("posts");
---

<Pages title="Posts">
    <section>
        <ul class="flex flex-col space-y-5">
            {
                posts.map((post) => (
                    <li>
                        <a href={`/posts/${post.slug}`}>
                            <p>{formatDate(post.data.pubDate)}</p>
                            <h2>{post.data.title}</h2>
                        </a>
                        <div>
                            {post.data.tags.map((tag) => (
                                <a href={`/tags/${tag}`}>{tag}</a>
                            ))}
                        </div>
                    </li>
                ))
            }
        </ul>
    </section>
</Pages>
