---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Tags from "../../components/Tags.astro";
import { formatDate } from "../../date/date";
import Base from "../../layouts/Base.astro";
const posts = await getCollection("posts");
---

<Base
  title="All Posts"
  description="All of Micah Asowata's Posts"
  img={{
    src: "https://utfs.io/f/8ffd5ba1-3388-49e4-a6b5-a07d28398385-1zbfv.png",
    alt: "Logo for Micah Asowata's website",
  }}
  type="website"
>
  <section>
    <Tags />
    <ul>
      {
        posts.map((post) => (
          <li>
            <div>
              <a href={`/posts/${post.slug}`}>
                <Image
                  src={post.data.cover.src}
                  alt={post.data.cover.alt}
                  width={100}
                  height={100}
                />
                <div>
                  <h2>{post.data.title}</h2>
                  <p>{formatDate(post.data.pubDate)}</p>
                  <p>{post.data.intro}</p>
                </div>
              </a>
            </div>
            <div>
              {post.data.tags.map((tag) => (
                <a href={`/tags/${tag}`}>{tag}</a>
              ))}
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
