---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: { project: project },
    };
  });
}

const { project } = Astro.props;
const { Content, headings } = await project.render();
---

<Base
  title={project.data.name}
  description={project.data.description}
  img={{
    src: project.data.cover.src,
    alt: project.data.cover.alt,
  }}
  ,
  type="article"
>
  <section class="grid col-start-2 col-end-12">
    <ul>
      {
        headings.map((heading) => {
          const h2 = "pl-2";
          const h3 = "pl-4";
          let style = "";
          switch (heading.depth) {
            case 2:
              style = h2;
              break;
            case 3:
              style = h3;
              break;
            default:
              break;
          }
          return (
            <li>
              <a href={`#${heading.slug}`} class={style}>
                {heading.text}
              </a>
            </li>
          );
        })
      }
    </ul>
  </section>

  <article
    class="grid col-start-2 col-end-12 prose prose-neutral md:prose-lg lg:prose-xl dark:prose-invert prose-img:rounded-md pt-5"
  >
    <p class="lead">{project.data.description}</p>
    <Content />
    <a href="/projects">See other projects</a>
  </article>
</Base>
