---
import "@fontsource-variable/sora";
import { ThemeSwitch } from "astro-color-scheme";
import Sun from '@astropub/icons/Sun'
import Moon from '@astropub/icons/Moon'
import Home from '@astropub/icons/Home'
import Backpack from '@astropub/icons/Backpack'
import Quote from '@astropub/icons/Quote'
import GH from '@astropub/icons/GitHubLogo'
import Twitter from '@astropub/icons/TwitterLogo'

interface Props {
	title: string;
	img: {
		src: string;
		alt: string;
	};
	type: "website" | "article";
	description: string;
}

const { title, img, type, description } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:type" content={type} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={img.src} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Micah Asowata" />
    <meta property="og:site" content="https://micahasowata.com" />
    <meta property="og:url" content="https://micahasowata.com" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://micahasowata.com" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={img.src} />
    <meta name="twitter:image:alt" content={img.alt} />

    <title>{title}</title>
  </head>
  <body class="font-sora">
    <header>
      <nav>
      <ul class="grid grid-cols-3">
      <li class="grid place-content-center"><a href="/"><Home class:list={"w-7"} /></a></li>
      <div class="grid grid-cols-2">
           <li class="grid place-content-center"><a href="/projects"><Backpack class:list={"w-7"} title="Projects"/></a></li>
      <li class="grid place-content-center"><a href="/posts"><Quote class:list={"w-7"} title="Posts"/></a></li>
      </div>
        <li class="grid place-content-center"><ThemeSwitch strategy="button">
        <button class="mt-4">
        <Sun class:list={"w-7 hidden dark:block dark:fill-white"} title="Light"/>
        <Moon class:list={"w-7 dark:hidden"} title="Dark"/>
            </button>
      </ThemeSwitch></li>
      </ul>
              </nav>
    </header>
    <main class="md:mt-14">
          <slot />
    </main>
    <footer>
    <ul class="grid grid-cols-3 mt-7">
    <li class="grid place-content-center"><a href="https://github.com/micahasowata"><GH class:list={"w-7"} title="Github"/></a></li>
    <li class="grid place-content-center"><p>Built by Micah Asowata.</p></li>
    <li class="grid place-content-center"><a href="https://x.com/micahasowata"><Twitter class:list={"w-7"} title="Posts"/></a></li>
    </ul>
  </body>
</html>
