---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Base from "./Base.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Base
  title={post.data.title}
  description={post.data.intro}
  img={{
    src: post.data.cover.src,
    alt: post.data.cover.alt,
  }}
  type="article"
>
  <section
    class="grid col-start-2 col-end-12 prose prose-neutral md:prose-lg lg:prose-xl dark:prose-invert prose-img:rounded-md pt-5"
  >
    <h1>{post.data.title}</h1>
    <Image
      src={post.data.cover.src}
      alt={post.data.cover.alt}
      width={50}
      height={50}
    />
    <article>
      <slot />
    </article>
  </section>
</Base>
